### **Python Errors and Exceptions**

In [ ]:
print(name)

NameError: name 'name' is not defined

In [ ]:
name = 'Shikhar'

In [ ]:
print(Name)

Shikhar

In [ ]:
if 10 < 15:
print('Hello')

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-7-927fb8353e14>, line 2)

In [ ]:
1 / 0

ZeroDivisionError: division by zero

In [ ]:
1 / 0

print('Hello')

ZeroDivisionError: division by zero

In [ ]:
import panda

ModuleNotFoundError: No module named 'panda'

#### **Catching Exceptions in Python**

In [ ]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

result = num1 / num2
print(result)

Enter first number: 98
Enter second number: 0

ZeroDivisionError: division by zero

#### try and except block

In [ ]:
try:
  num1 = int(input('Enter first number: '))
  num2 = int(input('Enter second number: '))

  result = num1 / num2
  print(result)

except:
  print('Some Error occured')

Enter first number: python
Some Error occured

In [ ]:
try:
  num1 = int(input('Enter first number: '))
  num2 = int(input('Enter second number: '))

  result = num1 / num2
  print(result)

except (ValueError):
  print('Value Error occured. Expected number but recieved another type of value.')
except (ZeroDivisionError):
  print('Division by Zero is not valid.')
except:
  print('Some other error occured.')

Enter first number: 45
Enter second number: 0
Division by Zero is not valid.

#### **Another example of catching specific exceptions**

In [ ]:
list1 = [1,2,3, 'a', '5', 0]

for value in list1:
  try:
    result = 1 / int(value)
    print(result)
  except (ValueError):
    print('Value Error Occured.')
  except (ZeroDivisionError):
    print('Zero Division Error Occured.')
  except (NameError):
    print('Name Error Occured.')
  except:
    print('Some Other error occured.')

1.0
0.5
0.3333333333333333
Value Error Occured.
0.2
Zero Division Error Occured.

#### **Raising Exceptions**

In [ ]:
marks = int(input('Enter a number: '))

if marks < 0 or marks > 100:
  raise ValueError('Marks entered should be between 0 to 100.')

Enter a number: 103

ValueError: Marks entered should be between 0 to 100.

In [ ]:
marks = int(input('Enter a number: '))

if marks >= 0 and marks <= 100:
  if marks <= 35:
    print('Failed')
  else:
    print('Passed.')
else:
  raise ValueError('Marks entered should be between 0 and 100.')

Enter a number: 105

ValueError: Marks entered should be between 0 and 100.